doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title JADE-Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    // link(rel="stylesheet",href="css/bootstrap.min.css")
    // Bootstrap theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
    // Custom styles for this template
    link(href='../css/theme.css', rel='stylesheet')
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  body(data-spy='scroll', data-target='.scrollspy')
    // Fixed navbar
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='') Traducciones Grupo2
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='IngresarComplemento') Ingresar Complemento
            li
              a(href='ListarComplementos') Listar Complemento
            li
              a(href='ListarUsuarios') Listar Usuarios
            li
              a(href='login') Cerrar Sesion
    .container
        br
        br
        br
        br
        h1 Agregar Traduccion
        form.form-group(method='post')
        label(for='exampleTextarea') Seleccione la localizacion
        select#exampleSelect1.form-control(name='complemento')
            each val, index in localizaciones 
              option #{val}
        label(for='exampleTextarea') Ingrese el texto del nuevo complemento
        textarea#exampleTextarea.form-control(rows='15')
        label(for='exampleTextarea') Seleccione la localizacion
        select#exampleSelect1.form-control(name='localizacion')
            each val, index in localizaciones 
              option #{val}
        br
        button.btn.btn-primary(type='submit') Registrar

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    // script(src="js/jquery.min.js")
    // script(src="js/bootstrap.min.js")
